/*  your css code here. If applicable */
body {
  font-family: Arial;
  text-align: center;
}

.container {
  margin-top: 30px;
}

.title {
  font-size: 38px;
  font-family: 'Brush Script MT', cursive;
}

#start-screen input {
  display: block;
  margin: 10px auto;
  padding: 10px;
  width: 250px;
  font-size: 16px;
}

#submit {
  padding: 12px 25px;
  font-size: 18px;
  margin-top: 20px;
  border-radius: 10px;
  border: 2px solid black;
  background: white;
  cursor: pointer;
}

.hidden {
  display: none;
}

.message {
  margin: 15px;
  font-size: 22px;
}

.board {
  margin: auto;
  width: 430px;
  height: 430px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.cell {
  background: pink;
  border: 2px solid black;
  font-size: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.winner {
  background: purple !important;
  color: white;
}
